# vim: set ft=sh:

###################################################
#                                                 #
#         Ensure these values are correct         #
#                                                 #
###################################################

# The latest version of SeamlessCoop that you have installed
export SEAMLESS_VERSION="1.8.0"

# Can be the the `Host` from your `.ssh/config` or a full ssh connection string
# i.e., `deck@192.168.0.38`
export SSH_TARGET="deck"

# Where backups will be stored on the deck and on your local machine
export DECK_BACKUP_DIR="/home/deck/backups/eldenring"
export LOCAL_BACKUP_DIR="/Users/gamagoat/games/backups/eldenring/"

# The format here is `COMPATDATA_ID_<seamless coop version>`.
# These only need to be set for versions you're interested in, although
# currently only the COMPATDATA_ID corresponding to SEAMLESS_VERSION gets used
# in the script.
#
# The more versions of SeamlessCoop you've used/plan to use, the harder it gets
# to remember which COMPATDATA_ID corresponds to which SeamlessCoop version.
# Storing them all here gives you one way to create that mapping.
#
# The commented out code is to serve as examples for how you can add more
# versions.  Again, in the script's current state, only one of these values
# is even used.  See the TODO in README.md for planned features.
#export COMPATDATA_ID_2_0_0_BETA="1234567"
#export COMPATDATA_ID_1_7_9="987654321"
export COMPATDATA_ID_1_8_0="192837465"

##################################################
#                                                #
#   Do not change these unless you know what     #
#                 you're doing                   #
#                                                #
##################################################
export ELDEN_RING_EXE_DIR="/home/deck/.steam/steam/steamapps/common/ELDEN RING"
export SEAMLESS_COOP_DIR="$ELDEN_RING_EXE_DIR/Game/SeamlessCoop"

export SETTINGS_FILE="ersc_settings.ini"

export BASE_PATH="/home/deck/.local/share/Steam/steamapps/compatdata"
export ER_PFX_PATH="/pfx/drive_c/users/steamuser/AppData/Roaming/EldenRing/76561198004661457"
